@page "/grid-popup"
@using Production.Models
@using DevExtreme.AspNet.Mvc
@using DevExtreme.AspNet.Data
<main>
    <section class="about about__style__two">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                    <div class="about__info__wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="inforip-tab" data-bs-toggle="tab" data-bs-target="#inforip" type="button"
                                        role="tab" aria-controls="inforip" aria-selected="true">
                                   Thông Tin IP
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tool-tab" data-bs-toggle="tab" data-bs-target="#tool" type="button"
                                        role="tab" aria-controls="tool" aria-selected="false">
                                    Quản Lý Tools
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="awards-tab" data-bs-toggle="tab" data-bs-target="#awards" type="button"
                                        role="tab" aria-controls="awards" aria-selected="false">
                                    awards
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education" type="button"
                                        role="tab" aria-controls="education" aria-selected="false">
                                    education
                                </button>
                            </li>
                        </ul>


                        @* Thông tin IP *@
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active tab_ip" id="inforip" role="tabpanel" aria-labelledby="inforip-tab">
                                <div class="card">
                                    <div class="card-body">
                                        @(
                                            Html.DevExtreme().DataGrid<DetailComputer>()
                                            .ID("gridDetailComputer")
                                            .ShowBorders(true)
                                            .WordWrapEnabled(true)
                                            .Paging(paging => paging.Enabled(false))
                                            .HeaderFilter(f => f.Visible(true))
                                            .Grouping(g => g.AutoExpandAll(false))
                                            .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                            )
                                            .SearchPanel(searchPanel => searchPanel
                                            .Visible(true)
                                            .Width(200)
                                            .Placeholder("Search ...")
                                            )
                                            .RemoteOperations(true)
                                            .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                            .Height(650)
                                            .Summary(s => s.TotalItems(items =>
                                            {
                                                items.AddFor(m => m.HostName)
                                                .SummaryType(SummaryType.Count);
                                            }))
                                            .Columns(columns =>
                                            {
                                                columns.AddFor(m => m.Id).Caption("STT").Width(80);
                                                columns.AddFor(m => m.CreateDate).Caption("Ngày Tạo");
                                                columns.AddFor(m => m.HostName).Caption("PC Name").Width(120);
                                                columns.AddFor(m => m.AddressIP).Caption("Địa Chỉ IP");
                                                columns.AddFor(m => m.TypePC).Caption("Kiểu");
                                                columns.AddFor(m => m.Station).Caption("Vị Trí");
                                                columns.AddFor(m => m.UnitName).Caption("Unit Name");
                                                columns.AddFor(m => m.LineName).Caption("Line Name");
                                                columns.AddFor(m => m.Note).Caption("Ghi Chú");
                                                columns.AddFor(m => m.PersonCharge).Caption("Phụ Trách");
                                                
                                            })
                                            .DataSource(d => d.Mvc()
                                            .Controller("DetailProduction")
                                            .LoadAction("Get")
                                            .Key("Id")                                            
                                            )
                                      
                                            )

                                   </div>                 

                               </div>

                                <div id="popup" style="display:none">
                                    @(Html.DevExtreme().Popup()
                                        .ID("detailPopup")
                                        .Width(500)
                                        .Height(300)
                                        .ShowTitle(true)
                                        .Title("Computer Details")
                                        .Visible(false)
                                        .ContentTemplate(@<text>
                                        <div> OK</div>
                                    </text>)
                                        )
                                </div>

                                
                            </div>
                            <div class="tab-pane fade" id="tool" role="tabpanel" aria-labelledby="tool-tab">
                                <div class="card">
                                    <div class="card-body">
                                        @(Html.DevExtreme().DataGrid<DetailTools>()
                                            .ShowBorders(true)
                                            .Paging(paging => paging.Enabled(false))
                                            .HeaderFilter(f => f.Visible(true))
                                            .Grouping(g => g.AutoExpandAll(false))
                                            .ShowBorders(true)
                                            .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                            )
                                            .SearchPanel(searchPanel => searchPanel
                                            .Visible(true)
                                            .Width(200)
                                            .Placeholder("Search  ...")
                                            )
                                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                                            .RemoteOperations(true)
                                            .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                            .Height(650)
                                            .Summary(s => s.TotalItems(items =>
                                            {
                                                items.AddFor(m => m.NameTool)
                                                .SummaryType(SummaryType.Count);
                                            })
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.AddFor(m => m.Id).Caption("STT").Width(80);
                                                columns.AddFor(m => m.NameTool).Caption("Tool Name");
                                                columns.AddFor(m => m.HourRun).Caption("Chạy").Width(120);
                                                columns.AddFor(m => m.Note).Caption("Ghi Chú");
                                                columns.AddFor(m => m.IP).Caption("Địa Chỉ IP");
                                                columns.AddFor(m => m.HostName).Caption("PC Name");                                                
                                                columns.AddFor(m => m.Station).Caption("Vị Trí");
                                                columns.AddFor(m => m.UnitName).Caption("Unit Name");
                                                columns.AddFor(m => m.LineName).Caption("Line Name");
                                                columns.AddFor(m => m.DateCreate).Caption("Ngày Tạo");
                                            })
                                            .DataSource(d => d.Mvc()
                                            .Controller("DetailTool")
                                            .LoadAction("Get")
                                            .Key("Id")
                                            )
                                            )

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="awards-tab">
                                <div class="about__award__wrap">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 col-sm-9">
                                            <div class="about__award__item">
                                                <div class="award__logo">
                                                    <img src="assets/img/images/awards_01.png" alt="">
                                                </div>
                                                <div class="award__content">
                                                    <h5 class="title">Best ux designer award in 2002</h5>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-9">
                                            <div class="about__award__item">
                                                <div class="award__logo">
                                                    <img src="assets/img/images/awards_02.png" alt="">
                                                </div>
                                                <div class="award__content">
                                                    <h5 class="title">BBA final examination 2001</h5>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-9">
                                            <div class="about__award__item">
                                                <div class="award__logo">
                                                    <img src="assets/img/images/awards_03.png" alt="">
                                                </div>
                                                <div class="award__content">
                                                    <h5 class="title">User research award 2020</h5>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-9">
                                            <div class="about__award__item">
                                                <div class="award__logo">
                                                    <img src="assets/img/images/awards_04.png" alt="">
                                                </div>
                                                <div class="award__content">
                                                    <h5 class="title">Dsigning award 2021</h5>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                                <div class="about__education__wrap">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="about__education__item">
                                                <h3 class="title">DPR Engineering Dhaka University</h3>
                                                <span class="date">2004 – 2016</span>
                                                <p>
                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                                    alteration in some form, by injected humour.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="about__education__item">
                                                <h3 class="title">Product Designer at google</h3>
                                                <span class="date">2021 – Present</span>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,There are many variations of passages of Lorem Ipsum available.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="about__education__item">
                                                <h3 class="title">Computer Science - england</h3>
                                                <span class="date">2008 – 2012</span>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,There are many variations of passages of Lorem Ipsum available.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="about__education__item">
                                                <h3 class="title">Pro product design with udemey</h3>
                                                <span class="date">2016 - 2020</span>
                                                <p>
                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                                    alteration in some form, by injected humour.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@*     <section class="services__style__two">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="section__title text-center">
                        <span class="sub-title">02 - my Services</span>
                        <h2 class="title">Provide awesome service</h2>
                    </div>
                </div>
            </div>
            <div class="services__style__two__wrap">
                <div class="row gx-0">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon01.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Business Strategy</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon02.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Visual Design</a></h3>
                                <p>Strategy is a forward-looking plan for your brand’s behavior.Strategy is a forward-looking plan.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon03.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Product Design</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon05.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Animation</a></h3>
                                <p>Strategy is a forward-looking plan for your brand’s behavior.Strategy is a forward-looking plan.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon06.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Marketing</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon05.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Brand strategy</a></h3>
                                <p>Strategy is a forward-looking plan for your brand’s behavior.Strategy is a forward-looking plan.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon04.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Graphic Design</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="services__style__two__item">
                            <div class="services__style__two__icon">
                                <img src="assets/img/icons/services_light_icon07.png" alt="">
                            </div>
                            <div class="services__style__two__content">
                                <h3 class="title"><a href="services-details.html">Visual Design</a></h3>
                                <p>Strategy is a forward-looking plan for your brand’s behavior.Strategy is a forward-looking plan.</p>
                                <a href="services-details.html" class="services__btn"><i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!-- services-area-end -->

</main>
<!-- main-area-end -->
