@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>HOME | OKI.PE.VN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />

    <link rel="shortcut icon" href="~/assets/images/oki_panner.ico">
        
    <link rel="stylesheet" href="~/assetsfont/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assetsfont/css/animate.min.css">
    <link rel="stylesheet" href="~/assetsfont/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assetsfont/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assetsfont/css/slick.css">
    <link rel="stylesheet" href="~/assetsfont/css/default.css">
    <link rel="stylesheet" href="~/assetsfont/css/style.css">
    <link rel="stylesheet" href="~/assetsfont/css/responsive.css">  

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/mybody.js" asp-append-version="true"></script>
   
</head>

<body >
    <div id="preloader">
        <div class="rasalina-spin-box"></div>
    </div>
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <header>
        <div id="sticky-header" class="menu__area transparent-header">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile__nav__toggler"><i class="fas fa-bars"></i></div>
                        <div class="menu__wrap">
                            <nav class="menu__nav">
                                <div class="logo">                                    
                                    <a href="index.html" class="logo__black"><img src="~/assets/images/logo.png" alt=""></a>
                                </div>
                                <div class="navbar__wrap main__menu d-none d-xl-flex">
                                    <ul class="navigation">
                                        <li class="active"><a asp-area="Customer" asp-controller="Home" asp-action="Index" >Trang Chủ</a></li>
                                        <li><a asp-area="Customer" asp-controller="DetailProduction" asp-action="Index">Sản Xuất</a></li>
                                        <li><a href="#">Phòng PE</a></li>   
                                        <li class="menu-item-has-children">
                                            <a href="#">Bảng Tin</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Tuần</a></li>
                                                <li><a href="#">Tháng</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Liên Hệ</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Hệ Thống</a>
                                            <ul class="sub-menu">
                                                @if (SignInManager.IsSignedIn(User))
                                                {
                                                    <li class="nav-item">
                                                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                                        </form>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li><a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> </li>
                                                    <li> <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                                }
                                            </ul>
                                        </li>
                                       
                                    </ul>
                                  @*   <partial name="_LoginPartial" /> *@                                   
                                </div>
                            </nav>
                        </div>
                        <!-- Mobile Menu  -->
                        <div class="mobile__menu">
                            <nav class="menu__box">
                                <div class="close__btn"><i class="fal fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="index.html" class="logo__black"><img src="~/assetsfont/img/logo/logo_black.png" alt=""></a>
                                </div>
                                <div class="menu__outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix">
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu__backdrop"></div>
                        <!-- End Mobile Menu -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <!-- Footer-area -->
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4">
                        <div class="footer__widget">
                            <div class="fw-title">
                                <h5 class="sub-title">PHONE NUMBER</h5>
                                <h4 class="title">+098X.XXX.XXX</h4>
                            </div>
                         @*    <div class="footer__widget__text">
                                <p>There are many variations of passages of lorem ipsum
                                available but the majority have suffered alteration
                                in some form is also here.</p>
                            </div> *@
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="footer__widget">
                            <div class="fw-title">
                                <h5 class="sub-title">OKI VN PE</h5>
                                <h4 class="title">HẢI PHÒNG</h4>
                            </div>
                           @*  <div class="footer__widget__address">
                                <p>Level 13, 2 Elizabeth Steereyt set <br> Melbourne, Victoria 3000</p>
                                <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
                            </div> *@
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="footer__widget">
                            <div class="fw-title">
                                <h5 class="sub-title">THÔNG TIN</h5>
                                <h4 class="title">PHÒNG KỸ THUẬT SẢN XUẤT</h4>
                            </div>
                           @*  <div class="footer__widget__social">
                                <p>Lorem ipsum dolor sit amet enim. <br> Etiam ullamcorper.</p>
                                <ul class="footer__social__list">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div> *@
                        </div>
                    </div>
                </div>
                <div class="copyright__wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright__text text-center">
                                <p>Copyright  2024 BINHPE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer-area-end -->
    @RenderSection("Scripts", required: false)

    <!-- JS here -->
    <script src="~/assetsfont/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assetsfont/js/bootstrap.min.js"></script>
    <script src="~/assetsfont/js/isotope.pkgd.min.js"></script>
    <script src="~/assetsfont/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assetsfont/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assetsfont/js/element-in-view.js"></script>
    <script src="~/assetsfont/js/slick.min.js"></script>
    <script src="~/assetsfont/js/ajax-form.js"></script>
    <script src="~/assetsfont/js/wow.min.js"></script>
    <script src="~/assetsfont/js/plugins.js"></script>
    <script src="~/assetsfont/js/main.js"></script>
    
</body>

</html>