@using Production.Models

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            @*<h4 class="mb-sm-0">Dashboard</h4>*@

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">OKIPE</a></li>
                    <li class="breadcrumb-item active">Line Production</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

@*
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">Total Sales</p>
                        <h4 class="mb-2">1452</h4>
                        <p class="text-muted mb-0"><span class="text-success fw-bold font-size-12 me-2"><i class="ri-arrow-right-up-line me-1 align-middle"></i>9.23%</span>from previous period</p>
                    </div>
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-primary rounded-3">
                            <i class="ri-shopping-cart-2-line font-size-24"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">New Orders</p>
                        <h4 class="mb-2">938</h4>
                        <p class="text-muted mb-0"><span class="text-danger fw-bold font-size-12 me-2"><i class="ri-arrow-right-down-line me-1 align-middle"></i>1.09%</span>from previous period</p>
                    </div>
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-success rounded-3">
                            <i class="mdi mdi-currency-usd font-size-24"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">New Users</p>
                        <h4 class="mb-2">8246</h4>
                        <p class="text-muted mb-0"><span class="text-success fw-bold font-size-12 me-2"><i class="ri-arrow-right-up-line me-1 align-middle"></i>16.2%</span>from previous period</p>
                    </div>
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-primary rounded-3">
                            <i class="ri-user-3-line font-size-24"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p class="text-truncate font-size-14 mb-2">Unique Visitors</p>
                        <h4 class="mb-2">29670</h4>
                        <p class="text-muted mb-0"><span class="text-success fw-bold font-size-12 me-2"><i class="ri-arrow-right-up-line me-1 align-middle"></i>11.7%</span>from previous period</p>
                    </div>
                    <div class="avatar-sm">
                        <span class="avatar-title bg-light text-success rounded-3">
                            <i class="mdi mdi-currency-btc font-size-24"></i>
                        </span>
                    </div>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->
*@


<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

              @*   <h4 class="card-title">Custom Tabs</h4>
                <p class="card-title-desc">Example of custom tabs</p> *@

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Line Production</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Unit Production</span>
                        </a>
                    </li>
                    @* <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">Messages</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#settings1" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                    <span class="d-none d-sm-block">Settings</span>
                    </a>
                    </li> *@
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        @(Html.DevExtreme().DataGrid<Line>()
                            .ShowBorders(true)
                            .Paging(paging => paging.Enabled(false))
                            .HeaderFilter(f => f.Visible(true))
                            .WordWrapEnabled(true)
                            .Grouping(g => g.AutoExpandAll(false))
                            .ShowBorders(true)
                            .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .RemoteOperations(true)
                            .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                            .Height(500)
                            .Summary(s => s.TotalItems(items =>
                            {
                                items.AddFor(m => m.line_name)
                                .SummaryType(SummaryType.Count);
                            })
                            )
                            .Editing(editing =>
                            {
                                editing.Mode(GridEditMode.Form);
                                editing.AllowUpdating(true);
                                editing.AllowAdding(true);
                                editing.AllowDeleting(true);
                            })
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.line_name).Caption("Line Name");
                                columns.AddFor(m => m.Manager).Caption("Manager");
                                columns.AddFor(m => m.Note);
                            })
                            .DataSource(d => d.Mvc()
                            .Controller("Line")
                            .LoadAction("GetAll")
                            .UpdateAction("Put")
                            .InsertAction("Post")
                            .DeleteAction("Delete")
                            .Key("Id")
                            )
                            )
                    </div>
                    <div class="tab-pane" id="profile1" role="tabpanel">
                        @(Html.DevExtreme().DataGrid<Unit>()
                            .ShowBorders(true)
                            .Paging(paging => paging.Enabled(false))
                            .HeaderFilter(f => f.Visible(true))
                            .Grouping(g => g.AutoExpandAll(false))
                            .ShowBorders(true)
                            .WordWrapEnabled(true)
                            .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .RemoteOperations(true)
                            .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                            .Height(500)
                            .Summary(s => s.TotalItems(items =>
                            {
                                items.AddFor(m => m.unit_name)
                                .SummaryType(SummaryType.Count);

                            })
                            )

                            .Editing(editing =>
                            {
                                editing.Mode(GridEditMode.Form);
                                editing.AllowUpdating(true);
                                editing.AllowAdding(true);
                                editing.AllowDeleting(true);
                            })
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.unit_name).Caption("Unit Name");
                                columns.AddFor(m => m.line_id).Caption("Line Name")
                                .Width(125)
                                .Lookup(lookup => lookup
                                .DataSource(d => d.Mvc().Controller("Line").LoadAction("GetAll").Key("Id"))
                                .DisplayExpr("line_name")
                                .ValueExpr("Id")
                                );
                                columns.AddFor(m => m.Note);
                            })
                            .DataSource(d => d.Mvc()
                            .Controller("Unit")
                            .LoadAction("GetAll")
                            .UpdateAction("Put")
                            .InsertAction("Post")
                            .DeleteAction("Delete")
                            .Key("Id")
                            )
                            )
                    </div>
                    @*<div class="tab-pane" id="messages1" role="tabpanel">

                    </div>
                    <div class="tab-pane" id="settings1" role="tabpanel">
                    <p class="mb-0">
                    Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                    art party before they sold out master cleanse gluten-free squid
                    scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                    art party locavore wolf cliche high life echo park Austin. Cred
                    vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                    farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral,
                    mustache readymade keffiyeh craft.
                    </p>
                    </div> *@
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
               @*  <h4 class="card-title">Accordion example</h4>
                <p class="card-title-desc">Extend the default collapse behavior to create an accordion.</p> *@
                <div id="accordion" class="custom-accordion">
                    <div class="card mb-1 shadow-none">
                        <a href="#collapseOne" class="text-dark" data-bs-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                                <h6 class="m-0">
                                    Information Type Setup
                                    <i class="mdi mdi-minus float-end accor-plus-icon"></i>
                                </h6>
                            </div>
                        </a>

                        <div id="collapseOne" class="collapse shadow-none"
                             aria-labelledby="headingOne" data-bs-parent="#accordion">
                            <div class="card-body">
                                @(Html.DevExtreme().DataGrid<TypeLine>()
                                    .ShowBorders(true)
                                    .Paging(paging => paging.Enabled(false))
                                    .HeaderFilter(f => f.Visible(true))
                                    .WordWrapEnabled(true)
                                    .Grouping(g => g.AutoExpandAll(false))
                                    .ShowBorders(true)
                                    .FilterRow(filterRow => filterRow
                                    .Visible(true)
                                    .ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .HeaderFilter(headerFilter => headerFilter.Visible(true))
                                    .RemoteOperations(true)
                                    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                    .Height(350)
                                    .Summary(s => s.TotalItems(items =>
                                    {
                                        items.AddFor(m => m.Type_name)
                                        .SummaryType(SummaryType.Count);
                                    })
                                    )
                                    .Editing(editing =>
                                    {
                                        editing.Mode(GridEditMode.Form);
                                        editing.AllowUpdating(true);
                                        editing.AllowAdding(true);
                                        editing.AllowDeleting(true);
                                    })
                                    .Columns(columns =>
                                    {
                                        columns.AddFor(m => m.Type_name).Caption("Type Name");
                                        columns.AddFor(m => m.Note);
                                    })
                                    .DataSource(d => d.Mvc()
                                    .Controller("TypeLine")
                                    .LoadAction("GetAll")
                                    .UpdateAction("Put")
                                    .InsertAction("Post")
                                    .DeleteAction("Delete")
                                    .Key("Id")
                                    )
                                    )
                            </div>
                        </div>
                    </div>
                   
                </div>



            </div>
        </div>
    </div>


    
    
</div>


